* {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color:#333
}

.addOpt {
    display: inline-block;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
}

.config {
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
}


#options {
    width: 200px;
}
